h1{
    color: blue;
    font-size:30px;
}

.style{
    text-indent: 32px;
}

.style1{
     font-size:24px;
     border-bottom: 4px solid red;
     border-left: 4px solid red;
    
}

.style3{
    text-decoration:line-through;
}
img{
    border:4px solid  grey;
}
p{
    font-family:verdana;
    font: size 16px;
    text-align:left;
    letter-spacing: 2px;
    line-height:1.7;
}

a{
    color:red;
}

a:hover{
    color:blue;
}
